<form>
    <div class="form-group">
        <label for="">Mot de passe (4 caractères)</label>
        <input type="text" class="form-control" name="password" required min="4">
    </div>
    <div> form Questions</div>
    <div class="template">
        <div class="form-group">
            <label>Level</label>
            <select name="level" class="change form-control">
                <option value="" disabled selected hidden>Niveau</option>
                <% for(var i = 0; i < levels.length; i++) { %>
                <option value="<%= levels[i].id %>"><%= levels[i].label %></option>
                <% } %>
            </select>
        </div>
        <div class="form-group">
            <label>Subject</label>
            <select name="subject" class="change form-control">
                <option value="" disabled selected hidden>Matière</option>
                <% for(var i = 0; i < subjects.length; i++) { %>
                <option value="<%= subjects[i].id %>"><%= subjects[i].label %></option>
                <% } %>
            </select>
        </div>
        <div class="form-group">
            <label>Questions</label>
            <select class="form-control" name="question[]" required>
                <option value="" disabled selected hidden>Question</option>
                <% for(var i = 0; i < questions.length; i++) { %>
                <option value="<%= questions[i].id %>"><%= questions[i].label %></option>
                <% } %>
            </select>
            <button style="display: none;" class="btn btn-danger remove-template">Supprimer</button>
        </div>
    </div>
    <button class="btn btn-success add-template">Ajouter une question</button>
</form>
<div class="error"></div>
