<%- include('header', {polls: polls, title: 'Poll dashboard'}); %>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div class="chartjs-size-monitor"
         style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
        <div class="chartjs-size-monitor-expand"
             style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
            <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
        </div>
        <div class="chartjs-size-monitor-shrink"
             style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
            <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
        </div>
    </div>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Poll n°<%= poll.id %></h1>
    </div>
    <p id="question-number">Questions : <%= poll.questions.length %></p>
    <p id="student-number">Students : <%= poll.students.size %></p>
    <table id="table-students" class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <% for (var {key, student} of poll.students) { %>
        <% if (student) { %>
        <tr>
            <td><%= student %></td>
            <td>
                <button class="btn btn-block kick-button">Kick user</button>
            </td>
        </tr>
        <% } %>
        <% } %>
        </tbody>
    </table>
    <button class="btn btn-block">Test Ajax</button>
    <div class="container chart-container">
        <canvas id="chart-answers" width="400" height="400"></canvas>
    </div>
</main>
<script type="text/javascript" src="../assets/js/dashboardPoll.js"></script>
<script src="/socket.io/socket.io.js"></script>
<!-- events -->
<script type="text/javascript">

    let socket = io('/<%= poll.id %>');

    socket.on('server:poll:join', packet => {
        if (packet.user !== packet.prof) {
            $.notify(
                {message: 'A user just joined the poll'},
                {type: 'info'}
            );
        }
    });

    socket.on('server:user:disconnect', packet => {
        $.notify(
            {message: 'A user just left the poll'},
            {type: 'info'}
        );
    });
</script>

<%- include('footer'); %>