<%- include('header', {polls: polls, title: 'Poll dashboard'}); %>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div class="chartjs-size-monitor"
         style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
        <div class="chartjs-size-monitor-expand"
             style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
            <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
        </div>
        <div class="chartjs-size-monitor-shrink"
             style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
            <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
        </div>
    </div>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom page-header-content">
        <h1 class="h2">Poll n°<%= poll.id %></h1>
        <button class="btn btn-primary delete-poll" data-id="<%= poll.id %>">Delete</button>
    </div>
    <div id="content">

        <p id="question-number">Questions : <%= poll.questions.length %></p>
        <p id="student-number">Students : <%= poll.students.size %></p>
        <div id="table-students">
            <%- include('student-list', {students: poll.students}) %>
        </div>
        <button class="btn btn-success btn-lg btn-block" id="start-poll-button">Start the poll and finish the register</button>
    </div>
</main>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
    const socket = io('/<%= poll.id %>');
    let state = {};

    socket.on('server:poll:join', data => {
        if (data)
            state = data;
        if (state && state.question !== -1) {
            socket.emit('client:admin:question:results', (question, answers) => {
                questionHandler(question);
                answerHandler(answers);
            });
        }
    })

    socket.on('server:student:join', data => {
        $.notify(
            {message: 'a user just joined the poll'},
            {type: 'info'}
        );

        $("#student-number").text('Students : ' + data.count);
        $("#table-students").html(data.template);
    });

    socket.on('server:admin:blacklist:user', packet => {
        $.notify(
            {message: packet.user + ' has been blacklisted from the poll'},
            {type: 'danger'}
        );
    });

    socket.on('server:user:disconnect', () => {
        $.notify(
            {message: 'A user just left the poll'},
            {type: 'info'}
        );
    });

    socket.on('server:question:change', data => {
        state.question = data;
        state.index = data.index;
        questionHandler(state.question);
    });

    socket.on('server:student:answer', object => {
        answerHandler(object);
    });

    socket.on('server:question:results', data => {
        resultHandler(data);
    });

    $("#start-poll-button").click(function (e) {
        socket.emit('client:admin:poll:start');
    });

    function triggerCorrection() {
        socket.emit('client:admin:question:results');
    }

    function triggerBlacklist(elem) {
        if (!$(elem).prop("disabled")) {
            var student = $(elem).parent().parent().find(".email-student-poll").text();
            socket.emit('client:admin:student:remove', student, () => {
              $.notify(
                  {message: `${student} has been blacklisted from the poll`},
                  {type: 'danger'}
              );
            });
            $(elem).prop("disabled", true);
        }
    }

    function changeQuestion(index) {
        console.log(state.index, index, state.index + index);
        socket.emit('client:admin:question:change', state.index + index);
    }
</script>
<script type="text/javascript" src="/assets/js/dashboardPoll.js"></script>

<%- include('footer'); %>
